<article class="mask-galaxy">
 <div align="center"> <h2>ICRAWL</h2></div>
</article>

<center>
<table cellpadding="5" cellspacing="1">
<tr>
	<td align="center">

	<form action="icra.php" method="get" name="search">

<table><tr><td>
	<div align="left"> 
            <p class="s"><input type="text" name="query" id="query" size="80"  value="<?php   print quote_replace($query);?>" action="./include/js_suggest/suggest.php" columns="2" autocomplete="off" delay="1000" x-webkit-speech ></p>	
</div> 
        </td>
<td>
<input type="submit" id="but" value="<?php print $sph_messages['Search']?>">
</td></tr></table>

         


	
</td>
 </tr>
</table>
</center>

