html, body {
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
}
#mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 2;
}
body {
    color: #fff;
    font: 11px/normal sans-serif;
    overflow-x: hidden;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.clearfix {
    clear: both;
}
#page {
    margin: 0 auto;
    width: 600px;
}
#container {
    opacity: .9;
}
#usage li {
    position: relative;
    margin: 5px 0;
    padding: 10px;
    color: #222;
    background: #fff;
}
#usage code {
    position: absolute;
    top:0;
    right:0;
    padding: 10px;
    color: #eee;
    border: 1px solid #333;
    background: #000;
}
